body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
}

.kui-theme--light {
    --color-default: #fff;
    --color-default-alt: #000;
    --color-text: rgba(0, 0, 0, 0.85);
    --color-text-alt: hsla(0, 0%, 100%, 0.85);
    --color-bg-1: #ccd1d6;
    --color-bg-2: #e6e8eb;
    --color-bg-3: #f0f1f3;
    --color-bg-4: #f8f9fa;
    --color-bg-alt: #242525;
    --color-sidebar-background: #f0f1f3;
    --color-sidebar-border: rgba(0, 0, 0, 0.05);
    --color-sidebar-shadow: rgba(0, 0, 0, 0.07)
}

.kui-theme--dark {
    --color-default: #000;
    --color-default-alt: #fff;
    --color-text: hsla(0, 0%, 100%, 0.85);
    --color-text-alt: rgba(0, 0, 0, 0.85);
    --color-bg-1: #001521;
    --color-bg-2: #031a26;
    --color-bg-3: #061c28;
    --color-bg-4: #0e2330;
    --color-bg-5: #122531;
    --color-bg-6: #2a3b46;
    --color-bg-alt: #fff;
    --color-sidebar-background: #031a26;
    --color-sidebar-border: rgba(0, 0, 0, 0.2);
    --color-sidebar-shadow: rgba(0, 0, 0, 0.3)
}

body {
    margin: 0
}

.kedro {
    font-size: .625rem
}

.kedro-pipeline {
    position: relative;
    overflow: hidden;
    color: var(--color-text);
    background: var(--color-bg-1);
    height: 100vh
}

.pipeline-title {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%)
}

.pipeline-wrapper {
    height: 100%
}

.pipeline-wrapper__loading {
    position: absolute;
    right: 20px;
    bottom: 20px
}

.side-bar {
    background: #f32093;
    height: 100%;
    width: 100px
}

.pipeline-sidebar {
    background: red;
    border-bottom: 1px solid var(--color-sidebar-border);
    box-shadow: 0 1px 3px var(--color-sidebar-shadow);
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    z-index: 1;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-transform: translateX(calc(-100% + 56px));
    transform: translateX(calc(-100% + 56px));
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease
}

@media (min-width: 1200px) {
    .pipeline-sidebar {
        z-index: 3
    }
}

@media (min-width: 700px) {
    .pipeline-sidebar {
        width: 400px;
        -webkit-transform: translateX(-344px);
        transform: translateX(-344px)
    }
}

@media print {
    .pipeline-sidebar {
        display: none
    }
}

.pipeline-sidebar--visible {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.pipeline-ui {
    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    height: 100%;
    background: var(--color-bg-3);
    visibility: hidden;
    transition: visibility .3s
}

.pipeline-sidebar--visible .pipeline-ui {
    visibility: visible;
    transition: visibility 0s
}

.pipeline-toolbar {
    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    width: 56px;
    height: 100%;
    background: var(--color-bg-2)
}

/*# sourceMappingURL=main.4e66df25.chunk.css.map */